<!DOCTYPE html>
<html>
<head>
  <title>TNY</title>
  <link type="text/css" rel="stylesheet" href="../css/style.css">
</head>
<body>
<div class="container">
  Original URL <%= original_url %>
</div>
<div class="container">
  "Shortened" URL <a href="http://<%= original_url %>"><%= URLS[url_index][original_url] %></a>
</div>
<div class="container">
  <a href="/">'Shorten' another URL</a>
</div>
</body>
</html>